src/main/mule/cloudhub.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="76a145f0-e75c-48c4-bfd7-a034850c265e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cloudhubFlow" doc:id="c24b225a-a0fe-4922-bd0c-eb170c69d2af" >
		<http:listener doc:name="Listener" doc:id="7f9f05ae-a431-45a0-83cb-ca1dcfde3d54" config-ref="HTTP_Listener_config" path="/cloud"/>
		<ee:transform doc:name="Transform Message" doc:id="354dad89-f25b-486f-926b-5976a3fbc02f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "hello world"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d38e2ffa-dc99-4d6f-b433-e2703908c17b" message="#[payload]"/>
	</flow>
</mule>
